// Row 1
#define IDX_ESC 0
#define IDX_F1 1
#define IDX_F2 2
#define IDX_F3 3
#define IDX_F4 4
#define IDX_F5 5
#define IDX_F6 6
#define IDX_F7 7
#define IDX_F8 8
#define IDX_F9 9
#define IDX_F10 10
#define IDX_F11 11
#define IDX_F12 12
#define IDX_PRINTSCREEN 13
#define IDX_SCROLLLOCK 14
#define IDX_PAUSE_BREAK 15

// Row 2
#define IDX_GRAVE 16
#define IDX_N1 17
#define IDX_N2 18
#define IDX_N3 19
#define IDX_N4 20
#define IDX_N5 21
#define IDX_N6 22
#define IDX_N7 23
#define IDX_N8 24
#define IDX_N9 25
#define IDX_N0 26
#define IDX_MINUS 27
#define IDX_EQUAL 28
#define IDX_BACKSPACE 29
#define IDX_INSERT 30
#define IDX_HOME 31
#define IDX_PG_UP 32

// Row 3
#define IDX_TAB 33
#define IDX_Q 34
#define IDX_W 35
#define IDX_E 36
#define IDX_R 37
#define IDX_T 38
#define IDX_Y 39
#define IDX_U 40
#define IDX_I 41
#define IDX_O 42
#define IDX_P 43
#define IDX_LBKT 44
#define IDX_RBKT 45
#define IDX_BSLH 46
#define IDX_DELETE 47
#define IDX_END 48
#define IDX_PG_DN 49

// Row 4
#define IDX_CAPS 50
#define IDX_A 51
#define IDX_S 52
#define IDX_D 53
#define IDX_F 54
#define IDX_G 55
#define IDX_H 56
#define IDX_J 57
#define IDX_K 58
#define IDX_L 59
#define IDX_SEMI 60
#define IDX_SINGLE_QUOTE 61
#define IDX_ENTER 62

// Row 5
#define IDX_LSHFT 63
#define IDX_Z 64
#define IDX_X 65
#define IDX_C 66
#define IDX_V 67
#define IDX_B 68
#define IDX_N 69
#define IDX_M 70
#define IDX_COMMA 71
#define IDX_DOT 72
#define IDX_FSLH 73
#define IDX_RSHFT 74
#define IDX_UP_ARROW 75

// Row 6
#define IDX_LCTRL 76
#define IDX_LMETA 77
#define IDX_LALT 78
#define IDX_SPACE 79
#define IDX_RALT 80
#define IDX_FN_LAYER 81
#define IDX_RMETA 82
#define IDX_RCTRL 83
#define IDX_LEFT_ARROW 84
#define IDX_DOWN_ARROW 85
#define IDX_RIGHT_ARROW 86
